body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 13px 30px;
    color: white;
    font-weight: 700;
    border-radius: 100px;
}
#part-one{
    display: flex;
    padding: 50px;
}
.head{
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: xx-large;
}
#paragraph{
    padding-top: 80px;
    padding-left: 50px;
    width: 50%;
}
#part-one img{
    width: 60%;
    padding-left: 250px;
}
#part-two{
    display:flex;
    background-image: url(images/shapes/7.png);
}
#about{
    padding-top: 150px ;
    padding-right: 200px;
    width: 50%;
}
#part-two img{
    width: 40%;
    padding-left: 200px;
    padding-top: 80px;
}
#middle{
    text-align: center;
    padding-top: 50px;
    padding-right: 250px;
    padding-left: 250px;
}
#recipies{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
}
.food{
    width: 33.33%;
    padding: 15px;
    border: 5px solid;
    border-color: white;
    box-shadow: 10px 5px 10px 10px rgba(189, 187, 187, 0.425);
    border-radius: 30px;
    margin: 20px;
}
.food img{
    width: 100%;
}